

<!-- Imported the header module -->
<%- include('header'); -%>

<div class="post">
    <h1>    <%= pageInfoHTML.pageTitle  %>        </h1>
    <p>    <%= pageInfoHTML.enteredVal  %>        </p>
</div>



<%- include('footer'); -%>







